* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
  font-size: 20px;
}

header {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.nav .black-logo {
  display: none;
}

.header-sections {
  font-family: "Roboto";
  display: flex;
  color: white;
  cursor: pointer;
}
.section{
    margin-left: 30px;
}
.burger-sections{
  display: none;
}
.icon-burger-menu{
  display: none;
  font-size: 1.5rem;
}
.cross-burger-menu{
  display: none;
  font-size: 1.5rem;
}
.burger-sections a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: "Roboto";
  line-height: 1.6rem;
}
.first-bg {
  width: 100%;
  height: 100vh;
  background: url("/Assets/FirstBG-Desktop.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
.first-bg::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transition: 0.8s ease;
}

header.scrolling-active {
  width: 100%;
  padding: 10px 10vw;
}

.scrolling-active .white-logo {
  display: none;
}
.scrolling-active .black-logo {
  display: block;
}
.scrolling-active .header-sections {
  color: #313131;
}
.scrolling-active .burger-sections a {
  color: #313131;
}

.home {
  width: 100%;
  height: 200vh;
  background-color: #202124;
}

.main{
    color: white;
    position: absolute;
    z-index: 5;
    top: 40vh;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}

.name {
  text-align: center;
  font-family: "Jockey One";
  font-size: 4.6rem;
  overflow-y: hidden;
 
}
.subName {
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: lighter;
}

.down{
    position: absolute;
    top: 90vh;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    z-index: 5;
}

.socials{
  color: white;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  bottom:15%;
  margin-left: 50px;
  /* position: fixed; */
}
.socials i{
  font-size: 1.8rem;
  margin-top: 25px;
  text-decoration: none;
  color: white;
}



@media screen and (max-width: 850px) {
.header-sections a{
  display: none;
}
.icon-burger-menu{
  display: block;
}
.cross-burger-menu.active{
  display: block;
}

.icon-burger-menu.hide{
  display: none;
}
.burger-sections.active{
  display: block;
}

.name{
  font-size: 4rem;
}
.subName{
  font-size: 1.2rem;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 20%;
}
.socials i{
  margin: 0 12px;
}

@media screen and (max-width: 850px){
  .main{
    top:35vh;
  }
  .name{
    line-height:3.5rem;
    margin-bottom: 20px;
  }
}}

@media screen and (max-width: 360px){
  .main{
    top:30vh
  }
  .name{
    font-size: 3.5rem;
  }
}
